 <form action="" method="">
    <label>Nombre:</label> <input type="text" name="name" id="nameInput"/> <br /> <br/>
    <label>Apellido:</label> <input type="text" name="lastName" id="lastNameInput"/> <br /> <br/>
    <label>Edad:</label> <input type="text" name="age" id="ageInput"/> <br /> <br/>
    <label>Correo:</label> <input type="text" name="email" id="emailInput"/> <br /> <br/>
    <label>Teléfono:</label> <input type="text" name="phone" id="phoneInput"/> <br /> <br/>
    <button type="button" id="add">Agregar mensaje</button>
 </form>

 <div id="textOutput"></div>


 {{!-- <form action="/api/users" method="post"></form> --}}
 

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>